/*styles.css*/
#menuContainer {
  border: 2;
  border-style: solid;
}

#allNotesContainer {
  border: 2;
  border-style: solid;
  height: 100%;
}

textarea {
    width: 20em;
    height: 4em;
}

/*.noteContainer {
  border: 2;
  border-style: solid;
  display: inline-block;
}

.textContent {
  border: 1;
  border-style: solid;
  display: inline-block;
}*/
